<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

     <!-- 配置数据源 -->
     <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"> 
          <property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/mydb">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
     </bean>
     
     <!-- 配置sqlsessionfactory -->
      <!-- 2.定义sqlSessionFactoryBean对象获取SqlSession -->
      <!-- 配置mybitasSqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		 <!-- 引用数据源 -->
		<property name="dataSource" ref="dataSource" />
		 <!-- 加载mybatis的配置文件 -->
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
	</bean>
	 <!-- 定义sqlSessionTemplate模板对象
                  服务于所有的dao层实现类简化开发
    -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactory"/>
    </bean>
     <!-- 定义dao实现的bean对象 -->
     <bean id="studentsMapper" class="com.grade.dao.impl.StudentsMapperImpl">
         <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
     </bean>
    <!-- 定义service实现的bean对象 -->
    <bean id="studentsServcie" class="com.grade.service.impl.StudentsServiceImpl">
    <property name="studentsMapper" ref="studentsMapper"></property>
    </bean>
</beans>
